*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    width: 80%;
    max-width: 40rem;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "join"  "subscription why-us";
}

/* How to do border-radius better? I attemped to put border-radius on section, when it didn't work I changed it to a div, and it still didn't work. I wonder if it's to do with hierarchy? */
.join {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.why-us {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.join,
.subscription,
.why-us {
    padding: 1.5em;
}

h2 {
    font-size: 1.1rem;
    line-height: 1.3em;
}

p {
    font-size: 0.75rem;
    line-height: 2em;
    opacity: 0.9;
}

/* Join Our Community */

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 1.4rem;
}

.join h2 {
    color: hsl(71, 73%, 54%);
    padding: 1.1rem 0;
}

.join p {
    color: hsl(218, 22%, 67%);
    line-height: 1.9em;
}

.join {
    background-color: #fff;
}

/* Monthly Subscription*/

.subscription {
    background-color: hsl(179, 62%, 43%);
    ;
}

.subscription h2, p {
    color: #fff;
    padding: 0.5rem 0;
    opacity: 0.9;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* Had an issue with getting the alignment correct for the $29 & per month. It seemed that the span was using the left space, so the flex-start would not work. Adding marging-left: 0; has cleaered the issue, but I wonder if there is a better way?*/
.subscription span {
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 0;
} 

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
    border-radius: 4px;
    background-color: hsl(71, 73%, 54%);
    padding: 0.8em 0;
    margin-top: 1rem;
    box-shadow: 0.2rem 0.1rem 10px hsl(178, 62%, 31%);
}

.btn:hover {
    background-color: hsl(71, 70%, 61%);
}

/* Why Us */
.why-us {
    background-color: hsl(179, 62%, 48%);
}

.why-us h2, li {
    color: #fff;
    opacity: 0.9;
}

ul {
    list-style: none;
    font-size: 0.75rem;
    line-height: 1.5em;
    margin-top: 1rem;
}

@media only screen and (max-width: 62.5em){

    .container {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (2, auto);
    max-width: 70%;
    }

}


/* Footer */ 

footer {
    position: absolute;
    bottom: 0;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: rgb(94, 92, 92);
    text-decoration: none;
}