:root {
    --color-bright-yellow: hsl(71, 73%, 54%);
    --color-cyan: hsl(179, 62%, 43%);
    --color-cyan-light: hsl(179, 62%, 48%);
    --color-grayish-blue: hsl(218, 22%, 67%);
    --color-light-gray: hsl(204, 43%, 93%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
  html {
      font-family: 'Karla', sans-serif;
      font-size: 16px;
}
  
  body {
      min-height: 100vh;
      min-width: 100vw;
}